@font-face {
    font-family: 'av-bold, sans-serif';
    src: url(/fonts/AppleVillage--bold.woff2);
}

@font-face {
    font-family: 'av-regular, sans-serif';
    src: url(/fonts/AppleVillage--regular.woff2);
}

@font-face {
    font-family: 'av-medium, sans-serif';
    src: url(/fonts/AppleVillage--medium.woff2);
}